

.chatBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:darkslategrey;
  margin: 20px;
  padding: 20px;
  width: 70%;
  border-radius: 5px;
  border: solid 1px grey;
  box-shadow: 3px 4px 10px -1px $bordergrey;
}
.messages {
    width: 70%;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.6); //:rgba(255, 255, 255, 0.8);
    div {
      display: flex;
      flex-direction: row;
    }
    p {
        margin: 5px;
        padding: 3px;
        width:60%;
        border-radius: 5px;
    }
    .user {
      margin-right: auto;
      background: rgba(255, 255, 255, 0.6);
    }
    .otherUser {
      margin-left: auto;
      background: grey;
    }
  }

  div .chatButton  {
    width: 80px;
  }

textarea::placeholder {
  color: #685369;
  padding: 2px 5px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 17px;
}