.checkbox {
  display: flex;
  position: relative;
  //padding-left: 35px;
  //margin-bottom: 12px;
  margin: 0;
  background: $navgreen;
  padding: 2px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  //change color on checked
  input:checked ~ .checkmark {
    background-color: $footergreen;
  }
  .checkmark {
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border-radius: 5x;
    border: solid 1px $bordergrey;
    box-shadow: 3px 4px 10px -1px $bordergrey;
    margin: 10px 2px 2px 10px;
    background-color: $buttonbrown;
  }
   .checkmark:hover {
    background-color: $boxcolor;
  }

}