.dashWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  background-image: url('https://images.unsplash.com/photo-1498109175427-80f595c1b49f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2026&q=80');
    .dashPanelWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:rgba(255, 255, 255, 0.6);
    margin: 20px;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    border: solid 1px grey;
    box-shadow: 3px 4px 10px -1px $bordergrey;
  }
  .listingWrapper {
    border: 1px solid black;
    margin: 20px 0;
    padding: 20px;
  }
  .pickupsWrapper {
    display: flex;
    flex-direction: column;
    button {
      margin-right: 50%;
      margin-bottom: 20px;
    }
  }
  button {
    height: 20px;
    width: 120px;
    font-size: 12px;
    box-shadow: 1px 2px 2px 2px black;
  }
  .pickupDays {
    margin: 10px;
    h2 {
      margin-bottom: 5px;
    }
  }
  .pickupTimes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80px;
    max-width: 450px;
    margin: 10px;
    p {
      margin-right: 5px;
    }
  }
  em {
      font-size: 12px;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 800px) {
  .dashWrapper {
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 25px;
    }
    .dashPanelWrapper {
      flex-direction: column;
    }
    .listingWrapper {
      margin-left: 0;
    }
  }
} 

