$navgreen: #2E933C;
$bordergrey: #64403E;
$boxcolor: #81C14B;
$buttonbrown: #ECBA82;
$footergreen: #204E4A;

* {
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('https://images.unsplash.com/photo-1516211697506-8360dbcfe9a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Indie Flower', cursive;
  color: rgb(27, 14, 14);
}

h1 {
  font-size: 120px;
}

a {
  text-decoration: none;
  color: rgb(27, 14, 14);
  margin-left: 20px;
  cursor: pointer;
}

// button {
//   width: 120px;
//   height: 50px;
//   background: $buttonbrown;
//   border: solid 1px $bordergrey;
//   outline: none;
//   margin: 5px;
//   font-size: 18px;
//   border-radius: 10px;
//   box-shadow: inset 1px 3px 3px 3px $bordergrey;
// }

button {
  outline: none;
  margin: 5px;
  width: 120px;
  height: 50px;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background: $buttonbrown;
	background-color: $buttonbrown;
	border-radius:4px;
	border:1px solid $bordergrey;
	display:inline-block;
	cursor:pointer;
	font-size:14px;
}

button:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}

button:active {
	position:relative;
	top:1px;
}

textarea {
  border: none;
  border-radius: 10px;
  margin: 8px;
  width: 96%;
  font-size: 18px;
}

input {
  border: none;
  border-radius: 10px;
  width: 96%;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
  margin: 5px;
  outline: none;
}

label {
  margin-top: 10px;
}

.panelWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $boxcolor;
  margin: 20px;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  border: solid 1px grey;
  box-shadow: 3px 4px 10px -1px $bordergrey;
}

.formWrapper {
  margin: 80px;
  height: 100vh;
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  .panelWrapper {
    width: 30%;
    min-width: 500px;
    max-width: 500px;
  }
  button {
    margin-left: auto;
  }
}