.indexWrapper {
  //background: white;
  width: 100vw;
  overflow-x: hidden; //horizontal
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  h2 {
    color: white;
  }
  a {
    margin: 0;
    min-width: 400px;
    max-width: 400px;
    color: white;
  }
}