@import url('https://fonts.googleapis.com/css?family=Anton|Staatliches&display=swap'); //title on hame page
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap'); //default font

$navgreen: #2E933C;
$bordergrey: #64403E;
$boxcolor: #81C14B;
$buttonbrown: #ECBA82;
$footergreen: #204E4A;

@import "./general.scss";
@import "./navbar.scss";
@import "./search.scss";
@import "./dropdown.scss";
@import "./checkbox.scss";
@import "./home.scss";
@import "./index.scss";
@import "./show.scss";
@import "./dash.scss";
@import "./footer.scss";
@import "./forms.scss"