nav {
  display: flex;
  justify-content: space-between;
  background-color: rgba($color: white, $alpha: 0.1);
  height: 70px;
  // background: unset;
  box-shadow: 1px 5px 25px 5px black;
  color: white;
  // border: solid white 2px;
  div {
    display: flex;
  }
  a {
    font-size: 24px;
    margin: 20px;
    letter-spacing: 1px;
  
    // font-family: 'IBM Plex Sans', sans-serif;
    // font-weight: bold;
    font-family: 'Anton', sans-serif;
    color: white;
  }
  .burgerMenu {
      display: none;
      flex-direction: column;
      justify-content: space-around;
      padding: 10px;
      margin: 0;
      max-height: 70px;
    span {
      height: 8px;
      width: 50px;
      background: $buttonbrown;
      border-radius: 5px;
    }
  }
}

.burgerOpen {
  height: 250px;
  a {
    display: flex;
    margin: 6px;
  }

  div {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 800px) {
  nav{
    .burgerMenu {
      display: flex;
    }
    a {
      display: none;
    }
  }
}