.showWrapper {
  padding: 40px;
  .imgAndInfo {
    display: flex;
    flex-direction: row;
  }
  .buttonWrapper {
    display: flex;
  }
  img {
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset -1px 2px 39px -8px $bordergrey;
    border: solid 1px black;
    border-radius: 10px;
    width: 50vw;
    height: auto;
    object-fit: cover
  }
}

.claimWrapper {
  width: 100%;
  input {
    width: 10px;
    height: 10px;
  }
  h2 {
    margin-bottom: 3px;
  }
  h3 {
    margin: 5px 0;
  }
}

@media only screen and (max-width: 800px) {
  .showWrapper {
    .imgAndInfo {
      flex-direction: column;
    }
    img {
      width: 100%;
    }
    .panelWrapper {
      margin-left: 0;
    }
  }
} 
